/* --------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    color: #555;
    font-family: "Lato", "Ariel", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

*:focus {
    outline: none;
}

/* --------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

p {
    width: 80%;
    margin: 20px 10%;
    text-align: justify;
}

section {
    margin: 0;
}

.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.anchor.overview {
    top: -60px;
}

/* ------------- HEADINGS ------------ */

h1,
h2,
h3 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 200%;
    font-weight: 300;
}

h2 {
    color: #5a5959;
    margin: 20px 0;
    font-size: 125%;
    font-weight: 200;
    text-align: center;
}

h3 {
    color: #5a5959;
    margin: 20px 20px;
    font-size: 115%;
    font-weight: 200;
    text-align: center;
}

/* ------------- BUTTONS ------------ */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full,
.btn-full:link,
.btn-full:visited {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn:hover,
.btn:active {
   background-color: #27ae60;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #27ae60;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #27ae60;
    color: #fff;
}

/* ------------- SECTIONS ------------ */

.section-education, 
.section-references, 
.section-awards,
.section-hobbies, 
.section-about-website {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/SamiMakhuliPicture.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/SamiMakhuliPicture.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.row img {
    opacity: 1.7;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
    display: none;
}

/* ------------- Main Navigation ------------ */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
/*    margin-left: 10%;*/
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 2s;
    transition: border-bottom 2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2ecc71;
}

.main-nav li:last-child {
    margin-right: 20px;
}

/* ------------- Mobile Navigation ------------ */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* ------------- Sticky Navigation ------------ */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky li a:link,
.sticky li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* --------------------------------- */
/* OVERVIEW */
/* --------------------------------- */

.section-overview p:last-child {
    margin-bottom: 40px;
}

/* --------------------------------- */
/* TOOLS */
/* --------------------------------- */

.section-tools {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/tools.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/tools.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.section-tools h2 {
    color: #fff;
    padding-top: 20px;
}

.tools-list ul {
    color: #fff;
    text-align: center;
}

.tools-list ul li {
    margin: 1% 0;
}

.tools-list li:first-child {
    margin-top: 30px;
}

/* --------------------------------- */
/* WORK HISTORY */
/* --------------------------------- */

.section-work-history {
    color: #fff;
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.dark,
.light {
    padding-bottom: 20px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 0;
}

.dark {
    background-color: #a09e9e;
}

.light {
    background-color: #ccc4c4;
}

.section-work-history h2 {
    background-color:  #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.employment-info ul li {
    color: #000;
    display: block;
    font-size: 95%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
}

.employment-info i {
    color: #0f8340;
    display: inline-block;
    font-size: 95%;
    padding-right: 10px;
}

.employment-info ul li:first-child {
    padding-top: 20px;
}

.employment-info ul li:last-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.employment-description p {
    color: #000;
    font-size: 85%;
}

.section-work-history .btn,
.section-work-history .btn-full {
    margin-top: 1%;
    padding: 5px 10px;
    font-size: 80%;
    cursor: pointer;
}

.all-details {
    text-align: center;
    margin: 0;
    padding-bottom: 1%;
    background-color: #fff;
    background-color: cover;
}

/* --------------------------------- */
/* EDUCATION */
/* --------------------------------- */

.section-education {
    background-color: #e3eaea;
}

.section-education h2 {
    margin: 0;
}

.class-section {
    display: block;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20%;
    text-align: center;
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #c7d8d6;
}

.class-section ul li {
    list-style: none;
    margin-bottom: 10px;
}

.class-section ul li a {
    text-decoration: none;
    color: #000;
}

.rating {
    font-size: 80%;
}

.graduation {
    font-size: 90%;
}

.class-section .btn {
    font-size: 80%;
    padding: 5px 10px;
    background-color: #b5a78d;
    border-color: #000;
}

/* --------------------------------- */
/* REFERENCES */
/* --------------------------------- */

.section-references {
    background-color: #fff;
    margin-bottom: 10px;
}

.section-references h2 {
    margin: 0;
}

.reference {
    display: inline-block;
    margin-top: 20px;
    width: 25%;
    margin-left: 6%;
    border: 1px solid #000;
}

.reference ul li {
    list-style: none;
}

.description {
    display: block;
    width: 90%;
    margin: 0;
    word-spacing: 1px;
    font-size: 85%;
    height: auto;
    margin-left: 5%;
    text-align: justify;
    margin-bottom: 10px;
}

.reference-list h3 {
    padding-top: 10px;
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 0;
}
.email,
.phone {
    font-size: 80%;
    text-align: center;
}

.email {
    padding-bottom: 5px;
}

.phone {
    padding-bottom: 10px;
}

/* --------------------------------- */
/* AWARDS */
/* --------------------------------- */

.section-awards {
    background-color: #e3eaea;
}

.section-awards h2 {
    margin: 0;
    margin-bottom: 20px;
}

.section-awards ul li {
    display: block;
    width: 42%;
    margin-left: 29%;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #7dc49b;
    font-weight: 700;
}

.trophy i {
    color: #0f8340;
    display: block;
    width: 10%;
    margin-left: 45%;
    font-size: 250%;
    margin-bottom: 20px;
    text-align: center;
}

/* --------------------------------- */
/* HOBBIES */
/* --------------------------------- */

.section-hobbies {
/*    background-color: #fff;*/
    background: -webkit-gradient(linear, left top, right bottom, from(#67b26f), to(#4ca2cd));
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    padding-bottom: 30px;
}

.section-hobbies h2 {
    margin: 0;
}

.section-hobbies h2 {
    color: #000;
    padding-top: 20px;
}

.hobby-list ul {
    color: 000;
    text-align: center;
}

.hobby-list ul li {
    margin: 1% 0;
}

.hobby-list li:first-child {
    margin-top: 30px;
}

.hobby-list i {
    margin-right: 10px;
}

/* --------------------------------- */
/* ABOUT THIS WEBSITE */
/* --------------------------------- */

.section-about-website {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/about-website.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/about-website.jpg);

    background-size: cover;
    background-position: center;
/*    height: 100vh;*/
    background-attachment: fixed;
}

.section-about-website {
    background-color: #e3eaea;
}

.section-about-website h2 {
    color: #a2a1a1;
    margin: 0;
}

.section-about-website ul li {
    padding-top: 5px;
    color: #a2a1a1;
}

.section-about-website ul li:before {
    padding-left: 15%;
    content: "• ";
}

.section-about-website p {
    color: #a2a1a1;
}

.section-about-website a {
    color: #63a3a3;
}

/* --------------------------------- */
/* FOOTER */
/* --------------------------------- */

footer {
    background-color: #000;
}

footer p {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 70%;
}
